* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: rgba(152, 252, 252, 1);
}

/* Heading */
h2 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(3, 100, 211);
  margin-top: 150px;
}

/* Main Section */
section {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  width: 450px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Indicator Section */
.indicator {
  width: 300px;
  height: 150px;
  margin: 40px auto 30px;
  text-align: center;
  background: #475f94;
  border-radius: 80% 80% 0 0;
}

.message {
  padding: 2rem;
  color: blue;
  font-size: 20px;
  text-transform: uppercase;
}

.result {
  font-size: 40px;
}

/* Form Section */
.form {
  width: 350px;
  height: 210px;
  margin: auto;
}

input {
  width: 60px;
  height: 25px;
  border: 1px solid black;
  border-radius: 2px;
}

button {
  padding: 5px 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(73, 201, 73);
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0 0 120px;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-around;
  padding: 50px 0 30px 0;
}

.p-form {
  margin-bottom: 10px;
  color: rgb(26, 115, 167);
}
